<%- include header %>

<form method="post">
    <div class="form-group">
        <label for="name">标题：</label>
        <input type="text" class="form-control" name="title" value="<%= post.title %>">
    </div>
    <div class="form-group">
        <label for="name">文章</label>
        <textarea name="article" rows="8" class="form-control"><%= post.title %></textarea>
    </div>
    <hr/>
    <input type="hidden" value="<%= post._id %>" name="id">
    <input type="submit" class="btn btn-default" value="保存修改">
</form>