body {
    margin: 0;
    padding: 0;
    display: block;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
a :focus {
    outline: none;
}

header {
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.header {
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    max-width: 1000px;
}

h1.blogname {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

#nav-top {
    float: right;
}
.function {
    margin: 0;
    padding: 0;
    display: none;
}
.function li {
    line-height: 40px;
    border: 1px solid lightgray;
}
.content {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

.art-container {
    margin: 0 auto;
}
.article {
    margin: 15px 0;
}
.article-time {
    color: lightgray;
}
.article-title {
    margin: 0 50px;
}